<!-- _includes/sidebar.html -->
<nav id="sidebar">
	<div class="sidebar-inner">
		<ul>
			<li>
				<a class="lang-ja" href="{{ '/' | relative_url }}">ホーム</a>
				<a class="lang-en" href="{{ '/' | relative_url }}">Home</a>
			</li>
			<li>
				<a class="lang-ja" href="{{ '/circum-vitae.html' | relative_url }}">履歴書</a>
				<a class="lang-en" href="{{ '/circum-vitae.html' | relative_url }}">Circum Vitae</a>
			</li>
			<li>
				<details class="lang-ja">
					<summary>研究活動</summary>
					<ul>
						<li><a href="{{ '/research-activity.html' | relative_url }}">論文および講演</a></li>
						<li><a href="{{ '/slides.html'           | relative_url }}">講演資料</a></li>
					</ul>
				</details>
				<details class="lang-en">
					<summary>Research Activities</summary>
					<ul>
						<li><a href="{{ '/research-activity.html' | relative_url }}">Publications & Talks</a></li>
						<li><a href="{{ '/slides.html'           | relative_url }}">Presentation Materials</a></li>
					</ul>
				</details>
			</li>
			<li>
				<details class="lang-ja">
					<summary>その他活動</summary>
					<ul>
						<!-- <li><a href="{{ '/3d-project.html' | relative_url }}">3D Project</a></li> -->
					</ul>
				</details>
				<details class="lang-en">
					<summary>Other Activities</summary>
					<ul>
						<!-- <li><a href="{{ '/3d-project.html' | relative_url }}">3D Project</a></li> -->
					</ul>
				</details>
			</li>
		</ul>
	</div>
</nav>
